<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-chain-app-dev.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <!-- Scripts -->
    
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  

  </head>
  <body>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="{{ url_for('static', filename='assets/images/ca-logo.png') }}" alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
                
                <li class="scroll-to-section" ><a href="{{ url_for('place_list') }}">Places</a></li>
                {% if current_user.is_authenticated %}
                <li class="scroll-to-section" ></li><a aria-current="page" href="{{ url_for('index') }}">Home</a></li>
                <li class="scroll-to-section" ></li><a href="{{ url_for('dash_board') }}">Dashboard</a></li>
                <li><div class="gradient-button"><a id="modal_trigger" href="{{ url_for('logout') }}"><i ></i> Logout</a></div></li>
                {% else %}
                <li><div class="gradient-button"><a id="modal_trigger" href="{{ url_for('index') }}"><i class="fa fa-sign-in-alt"></i> Sign in</a></div></li>
                {% endif %}
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  {%  block body %} {% endblock %}
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h1>--</h1>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
         
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
           
            <div class="logo">
              
            </div>
            
          </div>
        </div>
       
      </div>
    </div>
  </footer>
</body>
</html>
 
  
