{% extends 'base.html' %}

{% block body %}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Hello {{current_user.name}},</h2>
                    <p>When people visit you, they should scan the code here. Make sure to visit you dashboard </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                
                    <div class="pricing-item-pro">
                        <h4>{{current_user.name}}</h4>
                        <div class="icon">
                          <img src="{{  qrcode(current_user.placeEmail) }}" alt="">
                        </div>
                        <ul>
                          <li>This is you unique qrcode</li>
                        </ul>
                        <div class="border-button" download="qrcode.jpg">
                          <a href="#">Download</a>
                        </div>
                      

                        
                            
                       
                      
                    </div>
                  </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>




{% endblock %}


